// img {
//   max-width: 100%;
//   display: block; // to center the img
//   margin-left: auto;
//   margin-right: auto;
//   padding: 1em 5em;
// }

// @media only screen and (max-width: 1024px){
//   img {
//     padding: 20px 50px;
//   }
// }

.w-100 {
  width: 100%!important;
  padding: 1em 25em;
}

@media only screen and (max-width: 1024px){
  .w-100 {
    padding: 1em 5em;
  }
  }