img {
  max-width: 100%;
  display: block; // to center the img
  margin-left: auto;
  margin-right: auto;
  padding: 1em 15em;
}

@media only screen and (max-width: 1024px){
  img {
    padding: 20px 50px;
  }
}